{% extends "structure.html" %}
{% block main %}
            
          <h2 style= "margin:20px 0px"><strong>Registeration Page<br/></h2><br/>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px">
              
              
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4>{{message}}</h4>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="/create_account" method="post" class="form-signin">
              <div class="form-group">
                <label for="exampleInputEmail1">User ID</label>
                <input type="username" name="username" class="form-control" id="exampleInputUserID" aria-describedby="userHelp" placeholder="Enter User ID">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <ul>
                    <li>Your password must contain at least 8 characters</li>
                    <li>Your password must contain at least one digit</li>
                    <li>Your password must contain at least one capital letter</li>
             </ul>
              <div class="form-check">
                <button type="submit" class="btn btn-primary">Register</button>
                <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button> 
               
              </div>
              
            </form>
            <br>
            <a href="/login"><button type="button" class="btn btn-primary">Back to Login</button></a>
            <br>
            <br>
            <button type="button" class="btn btn-info btn btn-default btn-sm">
              <span class="glyphicon glyphicon-log-out"></span><a href="/logout">Logout</a>
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-info btn btn-default btn-sm">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Back to Dashboard</a>
            </button>
            <br>

{% endblock main %}